@mixin BentoLinkeding {
    .bento-linkeding {
        width: 100%;
        height: 100%;
        font-size: $Font-size-Icon;
        background-color: rgb(28, 28, 68);
        @include ArrowBox;
    }
}